h1
{
  font-family:Impact, Charcoal, sans-serif
    color:#0000e6
}
h2
{
  font-family:Impact, Charcoal, sans-serif
    color:#0000e6
}
p
{
  font-family:Impact, Charcoal, sans-serif
    color:##000000
}
body
{
  background-color:#ff6600
}
