h1
{
  font-family:Impact, Charcoal, sans-serif
    color:blue
}
h2
{
  font-family:Impact, Charcoal, sans-serif
    color:blue
}
img
{
   border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
p
{
  font-family:"Comic Sans MS", cursive, sans-serif
    color:#000000
}
body
{
  background-color:#ff8533
}
